#landingPage {
    background-image:url(/images/wioleta-zakrzewska-BZUo9Tf83HQ-unsplash.jpg);
    object-fit: fill;
}

.arrow {
    display: flex;
    margin-top: 13px;
    padding-left: -5px;
}

.navbar-brand {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 500px;
    font-size: 40px;
    margin-left: 30px;
}

.nav-about {
    float: left;
}

h2 {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 20px;
}


.about {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 40px;
    margin-left: 30px;
    text-align: center;
}

.info {
    margin: 20px;
    background-color: rgb(243, 214, 170);
    padding: 50px;
}

.aboutOne {
    flex-wrap: wrap;
    padding-left: 80px;
}

.photoOne {
    float: left;
}

.aboutTwo {
    flex-wrap: wrap;
    margin-right: 80px;
}

.photoTwo {
    float: right;
    position: relative;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.container {
  min-height: 100vh;
  background-color: rgb(243, 214, 170);
  background-image: linear-gradient(147deg, rgb(243, 214, 170) 0%, rgb(240, 228, 209) 100%);
  object-fit: fill;
}